.main-content__container {
  width: 100%;
  margin: 60px auto;
  padding: 0 3%;
  text-align: center;
}
.explore-restaurant__label {
  font-size: 32px;
  font-weight: lighter;
  text-align: center;
}
.explore-restaurant__label::after {
  content: '';
  margin-top: 16px;
  display: block;
  border-bottom: 1px solid var(--secondary-color);
}

#explore-restaurant-list {
  display: grid;
  grid-row-gap: 1.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  grid-column-gap: 1.545em;
  grid-row-gap: 1.545em;
}

.box {
  width: 100%;
  /* text-align: center; */
  transition: 0.3s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 1em;
}

.box:hover {
  box-shadow: 10px 10px 5px 0px var(--secondary-color);
}
.box a {
  color: #000;
  text-decoration: none;
}

.location-box {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #fff;
  font-size: large;
  background-color: var(--secondary-color);
  padding: 0.4em 1.3em;
  z-index: 1;
  border-radius: 1em;
}

.imgboxcontainer {
  width: 100%;
  position: relative;
  overflow: hidden;
  transition: transform 0.5s ease;
  max-height: 600px;
}

.imagebox {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 1em 1em 0 0;
}

.contentbox {
  padding: 1em 2em;
  font-size: small;
}

.contentbox-title {
  font-weight: bold;
  font-size: 1.7em;
  text-decoration: none;
}

.contentbox-rating {
  text-align: left;
  font-weight: bold;
  font-size: large;
  margin: 10px 0;
  font-size: 1.3em;
}

.contentbox-rating span {
  color: #fff;
  font-size: large;
  background-color: var(--secondary-color);
  padding: 0.4em;
  z-index: 1;
  border-radius: 1em;
}

.contentbox-description {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 10px 0;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}
